nav, section{
  margin-bottom: 4em;
}

/* Navigation */
.nav-link {
  color:#325671;
}

.nav-link{
    --bs-link-color: #325671;
    --bs-nav-link-color: #325671;
    --bs-link-hover-color:#65A84C;
    --bs-nav-link-hover-color: #65A84C;
}
.navbar-nav .nav-link.active{
  font-weight: 600;
  color: #65A84C;
}

.nav-link:hover, #lang-icon:hover {
  color: #65A84C;
}

/* Dropdown */
.dropdown-item:active{
  background-color: #65A84C;
  color: #fff;
}

.dropdown-item:hover{
  background-color: #65A84C;
  color: #fff;
}

/* Button */
.btn-primary{
  --bs-btn-color: #fff;
  --bs-btn-bg: #325671;
  --bs-btn-border-color: #325671;
  --bs-btn-hover-bg: #65A84C;
  --bs-btn-hover-border-color: #65A84C;
}

/* Seitennavigation */
.sidenav{
  top: 70px;
}


